*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.name{
    background-color: #4aaaa6;
    color: #fff;
    width: 230px;
    height: 75px;
    padding: 18px;
}
.namediv{
   margin-left: 170px;
   float: left;
}
.list{
    float: right;
    list-style: none;
    margin-right: 200px;
}
.list li{
    display: inline-block;
    margin: 25px;
    color: #a9a9a9;
}
.header{
    border-bottom: 1px solid #ccc;
    height: 76px;
    background-color: #fff;
    position: fixed;
    width: 100%;
}